::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px;
}


.pagination {
  list-style: none;
 
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
}

.active {
  background-color: #0dd4ca;
  border-radius: 50%;
  
}

.page-item {
  list-style: none;
  padding: 12px 12px;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-right: 2px;
}


